@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: Arial;
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


